.stat-icon{
  width: 30px;
  height: 30px;
}
.stat-number{
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2em;
}
.pokemon-info-stat{
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
}
.pokemon-card{
  position: relative;
  box-sizing: border-box;
  width: 380px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  cursor: pointer;
  .pokemon-info{
    position: absolute;
    top: 2em;
    left: 8em;
    opacity: 0;
    transition: all ease 0.5s;
    z-index: 1;
    .pokemon-info-name{
      font-size: 1.7em;
      margin: 0;
      overflow: hidden;
      font-family: 'Roboto Mono', monospace;
    }
    .pokemon-info-stats{
      display: flex;
      .pokemon-info-stat-hp{
        @extend .pokemon-info-stat;
        .stat-hp-icon{
          @extend .stat-icon;
        }
        .stat-hp-number{
          @extend .stat-number;
        }
      }
      .pokemon-info-stat-attack{
        @extend .pokemon-info-stat;
        .stat-attack-icon{
          @extend .stat-icon;
        }
        .stat-attack-number{
          @extend .stat-number;
        }
      }
      .pokemon-info-stat-defense{
        @extend .pokemon-info-stat;
        .stat-defense-icon{
          @extend .stat-icon;
        }
        .stat-defense-number{
          @extend .stat-number;
        }
      }
    }
  }
  .pokemon-image{
    image-rendering: pixelated;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translate(0, -2em);
  }
  .pokemon-types{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    left: 2.5em;
    .li-pokemon-type{
      display: flex;
      align-items: center;
      margin-right: 1em;
      .pokemon-type-icon{
        width: 2em;
        height: 2em;
        margin-right: 0.5em;
      }
      .pokemon-type-text{
        margin: 0;
        font-family: 'Roboto Mono', monospace;
      }
    }
  }
  &:hover .pokemon-info{
    opacity: 1;
    transform: translate(25%, 0);
    width: auto;
  }
}