.pokemon-card{
  position: relative;
  box-sizing: border-box;
  border: 1px solid;
  width: 20em;
  height: 15em;
  display: flex;
  overflow: hidden;
  .pokemon-name{
    font-size: 2em;
    margin: 0;
  }
  .pokemon-image{
    image-rendering:pixelated;
    width: 20em;
    height: 20em;
    position: absolute;
  }
}